<?xml version="1.0" encoding="UTF-8" ?>
<!-- xml file 임을 알려주는겅 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.fly_yeseul.qna.mappers.IPostMapper">
    <insert id="insertPost"
            parameterType="dev.fly_yeseul.qna.entities.post.PostEntity">
        INSERT INTO `first_board`.`posts` (`user_email`, `user_nickname`, `photo_data`, `content`)
        VALUES (#{userEmail}, #{userNickname}, #{photoData}, #{content})
    </insert>

    <select id="selectPosts"
            resultType="dev.fly_yeseul.qna.dtos.PostDto">
        SELECT `index`         AS `index`,
               `user_email`    AS `userEmail`,
               `user_nickname` AS `userNickname`,
               `photo_data`    AS `photoData`,
               `content`       AS `content`,
               `posted_at`     AS `postedAt`,
               `likes`         AS `likes`,
               `profile`       AS `profile`
        FROM `first_board`.`posts` AS `post`
                 LEFT JOIN `first_member`.`users` on post.`user_nickname` = users.`nickname`
        ORDER BY `post`.`index` DESC
    </select>

    <select id="selectPostByIndex"
            resultType="dev.fly_yeseul.qna.entities.post.PostEntity">
        SELECT `index`         AS `index`,
               `user_email`    AS `userEmail`,
               `user_nickname` AS `userNickname`,
               `photo_data`    AS `photoData`,
               `content`       AS `content`,
               `posted_at`     AS `postedAt`,
               `likes`         AS `likes`,
               `profile`       AS `profile`
        FROM `first_board`.`posts` AS `post`
                 LEFT JOIN `first_member`.`users` on post.`user_nickname` = users.`nickname`
        WHERE `index` = #{index}
        LIMIT 1

    </select>


    <select id="selectPosterByIndex"
            resultType="dev.fly_yeseul.qna.entities.post.PostEntity">
        select `user_nickname` AS `userNickname`
        FROM `first_board`.`posts` AS `post`
        WHERE `index` = #{index}
    </select>


    <select id="selectPostsByNickname"
            resultType="dev.fly_yeseul.qna.dtos.PostDto">
        select `index`         AS `index`,
               `user_email`    AS `userEmail`,
               `user_nickname` AS `userNickname`,
               `photo_data`    AS `photoData`,
               `content`       AS `content`,
               `posted_at`     AS `postedAt`,
               `likes`         AS `likes`,
               `profile`       AS `profile`
        FROM `first_board`.posts AS `post`
                 LEFT JOIN `first_member`.`users` on post.`user_nickname` = users.`nickname`
        WHERE `post`.`user_nickname` = #{userNickname}
        ORDER BY `post`.`index` DESC
    </select>

    <select id="selectPostCountByEmail"
            resultType="_int">
        SELECT COUNT(0)
        FROM `first_board`.`posts`
        WHERE `user_email` = #{userEmail}
    </select>

    <select id="selectPostCountByNickname"
            resultType="_int">
        SELECT COUNT(0)
        FROM `first_board`.`posts`
        WHERE `user_nickname` = #{userNickname}
    </select>
</mapper>
