@charset "UTF-8";

body > .main {
    display: flex;
    flex-direction: row;
}

body > .main > .left {
    width: 470px;
    margin: 10px 32px 0 0;

}

body > .main > .left > .no-post {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;
}

body > .main > .left > .no-post > .icon {
    color: gray;
    display: block;
}

body > .main > .left > .no-post > span {
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: 300;
    color: dimgray;
}

body > .main > .left > .recent-post {
    width: 470px;
}
body > .main > .left > .recent-post > .post {
    width: 470px;
    background-color: #ffffff;
    border: 0.0625rem solid rgb(225, 225, 225);
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body > .main > .left > .recent-post > .post > .user-info {
    margin: 0.75rem;
}

body > .main > .left > .recent-post > .post > .user-info > a > img {
    height: 32px;
    border-radius: 100%;
    border: 0.0625rem solid rgb(225, 225, 225);
}

body > .main > .left > .recent-post > .post > .user-info > a > .user-name {
    margin: 0 0 0 10px;
    padding: 0;
    line-height: 32px;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
}

body > .main > .left > .recent-post > .post > .user-info > .icon {
    align-self: flex-end;
    position: absolute;
    line-height: 32px;
    margin: 0 0 0 24rem;
}

body > .main > .left > .recent-post > .post > .post-photo {
    width: 470px;
}

body > .main > .left > .recent-post > .post > .post-photo > a > img{
    width: 470px;
}

body > .main > .left > .recent-post > .post > .icons {
    width: 470px;
    display: flex;
    flex-direction: row;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

body > .main > .left > .recent-post > .post > .icons > .heart {
    color: #FA383E;
    font-size: 1.5rem;
    margin: 0 0.5rem 0 0.5rem;
}


body > .main > .left > .recent-post > .post > .icons > .icon {
    font-size: 1.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

body > .main > .left > .recent-post > .post > .likes {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

body > .main > .left > .recent-post > .post > span {
    margin: 0 0 0 10px;
    font-size: 14px;
    font-weight: 400;
}

body > .main > .left > .recent-post > .post > .content-container {
    margin: 0.5rem 1rem 0.5rem 1rem;
    overflow: scroll;
}

body > .main > .left > .recent-post > .post > .content-container > .poster {
    font-size: 14px;
    font-weight: 500;
    display: inline;
}

body > .main > .left > .recent-post > .post > .comment-view {
    color: dimgray;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 1rem;
}


body > .main > .left > .recent-post > .post > .comment-container {
    margin: 0.5rem 1rem 0 1rem;
}

body > .main > .left > .recent-post > .post > .content-container > span {
    font-size: 14px;
    font-weight: 300;
    display: inline;
}

body > .main > .left > .recent-post > .post > .comment-container > .one-comment {
    margin-bottom: 0.5rem;
}

body > .main > .left > .recent-post > .post > .comment-container > .one-comment > .commenter > span {
    font-size: 14px;
    font-weight: 500;
    display: inline;
}

body > .main > .left > .recent-post > .post > .comment-container > .one-comment > span {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0.75rem 0 0.75rem;
}

body > .main > .left > .recent-post > .post > .comment-container > .comment-write {
    border-top: 0.0625rem solid rgb(225, 225, 225);
    margin: 0rem 0 0.5rem -1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .left > .recent-post > .post > .comment-container > .comment-write > .comment-input {
    margin: 0rem 1rem 0rem 1rem;
}

body > .main > .left > .recent-post > .post > .comment-container > .comment-write > .button {
    width: 3rem;
    line-height: 41px;
    justify-content: flex-end;
    color: #0095f6;
}

body > .main > .right {
    width: 319px;
    margin: 1.75rem 16px 30px 0;
}

body > .main > .right > .user-info {
    display: flex;
    flex-direction: row;
}

body > .main > .right > .user-info > .img > a > img {
    height: 56px;
    border-radius: 100%;
    border: 0.0625rem solid rgb(225, 225, 225);
}

body > .main > .right > .user-info > .names {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 0.75rem;
}

body > .main > .right > .user-info > .names > a > .user-nickname {
    font-size: 14px;
    font-weight: 500;
}

body > .main > .right > .user-info > .names > .user-name {
    font-size: 14px;
    font-weight: 400;
    color: #8e8e8e;
}