<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/commons.css}">
    <link rel="stylesheet" th:href="@{/post/resources/stylesheets/detail.css}">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"/>
    <script src="https://kit.fontawesome.com/e099593f60.js" crossorigin="anonymous"></script>
    <script th:src="@{/post/resources/scripts/detail.js}" defer></script>
    <title>Instagram</title>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="main">
    <article class="post-detail">
        <section class="image-container">
            <img class="post-photo" th:src="@{'/post/image' (pid=${postEntity.getIndex()})}">
        </section>
        <section class="description-container">
            <div class="post-info">
                <div class="user-info">
                    <div class="user-image">
                        <a th:href="@{'/' + ${postDto.getUserNickname()}}">
                            <img th:src="@{'/user/profile' (uid=${postDto.getUserNickname()})}">
                        </a>
                    </div>
                    <div class="user-nickname">
                        <a th:href="@{'/' + ${postDto.getUserNickname()}}">
                            <span th:text="${postDto.getUserNickname()}"></span>
                        </a>
                    </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </div>
            <div class="content-container">
                <div class="post-contents">
                    <div class="user-info">
                        <div class="user-image">
                            <a th:href="@{'/' + ${postDto.getUserNickname()}}">
                                <img th:src="@{'/user/profile' (uid=${postDto.getUserNickname()})}">
                            </a>
                        </div>
                        <div class="user-nickname">
                            <a>
                                <span th:text="${postDto.getUserNickname()}"></span>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <span th:utext="${postDto.getContent()}"></span>
                    </div>
                </div>
                <section class="comment-family">
                    <div class="comment-container"
                         th:each="comment : ${commentEntities}"
                         th:with="dt = ${#dates.createNow()}"
                         th:if="${comment != null}">
                        <div class="user-info">
                            <div class="user-image">
                                <a th:href="@{'/' + ${comment.getUserNickname()}}">
                                    <img th:src="@{'/user/profile' (uid=${comment.getUserNickname()})}">
                                </a>
                            </div>
                            <div class="comment">
                                <a th:href="@{'/' + ${comment.getUserNickname()}}">
                                    <span th:text="${comment.getUserNickname()}"></span>
                                </a>
                                <span th:utext="${comment.getComment()}"></span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="interaction">
                <div class="icons">
                    <i class="fa-regular fa-heart"></i>
                    <i class="comment fa-regular fa-comment"></i>
                    <i class="fa-regular fa-bookmark"></i>
                </div>
                <div class="like-info">
                    <span>n명이 좋아합니다.</span>
                </div>
                <div class="written-date">
                    <span th:text="${#dates.format(postDto.getPostedAt(), 'yyyy년 MM월 dd일')}"></span>
                </div>
            </div>
            <form class="post-comment" method="post" th:with="dt = ${#dates.createNow()}">
                <input id="postIndexInput" type="hidden" th:value="${postEntity.getIndex()}" name="postIndex">
                <input name="comment" class="comment-input" type="text" placeholder="댓글 달기..." autocomplete="off" autocapitalize="off">
                <input class="button" type="submit" value="게시">
            </form>
        </section>

    </article>
</main>

</body>
</html>
